<div class='intro'>
	<h1 class='intro__hed'>{{meta.title1}}</h1>
	<h1 class='intro__hed intro__space'>{{meta.title2}}</h1>
	<p class='intro__byline'>Analysis & story by
		<a href='{{meta.author1.url}}' target='_blank'>
			{{meta.author1.name}}
		</a>
	</p>
	<p class='intro__byline'>Design & development by
		<a href='{{meta.author2.url}}' target='_blank'>
			{{meta.author2.name}}
		</a>
	</p>
	<div class='intro__vidwrapper'>
		<div class='top-border'></div>
		<div class='player'>
			<iframe src="https://www.youtube.com/embed/fzwrpAfMdKw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
	<div class='intro__text'>
		{{#each copy.intro}}
			<p>{{{value}}}</p>
		{{/each}}
	</div>
</div>
